<!-- This load tag loads the static files -->
{% load staticfiles %}

<html lang="en">
<head>
    <!-- Unicode encoding set -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Responsive viewport for smartphone devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Passport Inc. challenge!">
    <meta name="author" content="Kadrick Henderson">
    <meta name="keywords" content="Software Engineer, Passport, Passport Inc., Passport inc. challenge, challenge">
    <title>Passport Inc.</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- My Css -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrapsnippet.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'image/passport.ico' %}">

    <script src="https://use.fontawesome.com/def436f02b.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<section id="project_tree">
    <div class="jumbotron" id="jumbotron_banner" class="table-responsive">
        <!--oooooooo, ahhhhhhh-->
        <h1>Passport <img border="0" alt="Parking Meter" src="{% static 'image/parking_meter.svg' %}" width="35px" style="margin-top:-15px" id="meter_logo">nc.</h1>
    </div>
</section>

<div id="root_switch"><span title="Root"><a href="{% url 'root_factories' %}"><i class="fa fa-cogs fa-3x" style="margin-right:80px;" aria-hidden="true"></i></a></span>
    <span title="Add Factory"><a href="{% url 'create_factory' %}"><i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i></a></span></div>

<div id="tree_view" class="tree">
    <ul>
        <li class="parent_li"><span title="Root"><i class="icon-minus-sign"></i><a href="{% url 'root_factories' %}">Root Node</a></span><span title="Add Factory"><a
                href="{% url 'create_factory' %}">+ <i class="fa fa-cogs" aria-hidden="true"></i></a></span>
            <ul id="tree_update">
                {% for factory in factories %}
                <li class="parent_li factory"><span title="Factory"><a href="{% url 'factory_detail' factory.id %}"><i
                        class="fa fa-cog" aria-hidden="true"></i> {{factory.name | capfirst}}</a></span>
                    <ul>
                        {% for child in factory.children.all %}
                        <li class="parent_li child"><span title="Child"><i class="fa fa-user" aria-hidden="true"></i> {{child.value}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>

<div id="node_portal">
    {% if messages %}
    <ul class="messages alert alert-success">
        {% for message in messages %}
        <li
                {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {% endblock content %}
</div>

<footer id="footer">

</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/message_time.js' %}"></script>
<script src="{% static 'js/coordinate_store.js' %}"></script>
<script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
<script src="{% static 'js/socketr.js' %}"></script>

</body>
</html>
