{% extends "kaiju/dashboard.html" %}

{% block content %}

<div class="factory_create_class">
  <div id="create_div">
    <!-- Django provides the protection for Cross site request forgery -->
    <form id="factory_form" method='POST' action=''>{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Create Factory" />
    <a href="{% url 'root_factories' %}" class="goback"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a>
    </form>
  </div>
</div>

{% for child in factory.children.all %}
<div class="child_class">
    <i class="fa fa-user-circle" id="child_ico" aria-hidden="true"></i>
    <p>{{child.value}}</p>
</div>
{% endfor %}

{% endblock content%}