{% extends "kaiju/dashboard.html" %}

{% block content %}

    {% for factory in factories %}
        <div class="root_factory_class">
            <p><i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i></p>
            <p>Factory Name: {{factory.name}}</p>
            <p>Children: {{factory.max_children}}</p>
            <p>Lower Bound: {{factory.lower_bound}}</p>
            <p>Upper Bound: {{factory.upper_bound}}</p>
            <p><span title="Regenerate"><a href="{% url 'regeneration' factory.id %}"><i class="fa fa-refresh" aria-hidden="true"></i></a></span></p>
            <p><span title="Modify"><a href="{% url 'update_factory' factory.id %}"><i class="fa fa-wrench" aria-hidden="true"></i></a></span></p>
            <p><span title="Children"><a href="{% url 'factory_detail' factory.id %}"><i class="fa fa-users" aria-hidden="true"></i></a></span></p>
            <p><span title="Demolish"><a href="{% url 'delete_factory' factory.id %}"><i class="fa fa-times" aria-hidden="true"></i></a></span></p>
        </div>
    {% endfor %}

{% endblock content%}
