body a:hover{
    text-decoration: none;
}

#tree_view{
    display: inline-block;
    width: 20%;
    height: 500px;
    margin-left: 15px;
    overflow-y: auto;
    overflow-x: auto;
}

#jumbotron_banner{
    text-align: center;
    padding-top:10px;
}

#node_portal{
    min-width: 75%;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #C8C8C8;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 10px;
    position: fixed;
    font-weight: lighter;
    overflow-y: auto;
}

.child_node{
    height: 100px;
    width:100px;
    background-color: blue;
    border-radius: 5px;
    display: inline-block;
    position: static;
}

.factory_class{
    width: 100%;
    min-height: 50px;
    background-color: #333A56;
    color: white;
    border-radius: 4px;
    font-weight: lighter;
    font-size: 17px;
    padding: 10px;
    padding-left: 15px;
    padding-top: 12px;
}

.root_factory_class{
    width: 100%;
    min-height: 50px;
    background-color: #333A56;
    color: white;
    border-radius: 4px;
    font-weight: lighter;
    font-size: 17px;
    padding: 10px;
    padding-left: 15px;
    padding-top: 12px;
    margin-bottom: 10px;
}

.root_factory_class p{
    margin-right: 20px;
    display: inline;
}

.root_factory_class p a{
    text-decoration: none;
    color: white;
}

.root_factory_class p a:hover{
    text-decoration: none;
    color: white;
}

.factory_create_class{
    width: 100%;
    min-height: 50px;
    background-color: white;
    color: #333;
    border-radius: 4px;
    font-weight: lighter;
    padding: 10px;
    padding-left: 15px;
    padding-top: 12px;
}

.factory_class p{
    margin-right: 20px;
    display: inline;
}

.factory_class p a{
    text-decoration: none;
    color: white;
}

.factory_class p a:hover{
    text-decoration: none;
    color: white;
}

.child_class{
    width: 15%;
    height: 100px;
    background-color: #874C62; /*Eggplant..tehehe*/
    color: white;
    border-radius: 4px;
    font-weight: lighter;
    font-size: 20px;
    display: inline-block;
    margin-top: 12px;
    margin-right: 12px;
    text-align: center;
    line-height: 100px;
    overflow-x: auto;
}

#child_ico{
    display: inline-block;
}

.messages{
    list-style:none;
    text-align: center;
    background-color:
    font-weight: bold;
}

.alert{
    margin-bottom: 5px;
}

.errorList{
    list-style: none;
    color: #FF3232;
    display: block;
    font-weight: bold;
    padding: 0;
}

.fa-refresh:hover{
    color: #A2C257;
}

.fa-wrench:hover{
    color: #FBEC5D;
}

.fa-times:hover{
    color: #c43a56;
}

.fa-users:hover{
    color: #4973AB;
}

#root_switch{
    display: none;
}

#root_switch a{
    color:#333;
}

.child_value{
    display: inline;
}

#child_ico{
    margin-top: 20px;
    margin-bottom: -30px
}

.goback{
    display: inline-block;
    margin-left: 8px;
    font-size: 20px;
}

@media only screen
and (max-width : 1100px) {
    #tree_view{
        display: none;
    }
    #root_switch{
        display: block;
        text-align: center;
        margin-bottom: 17px;
    }
    #child_ico{
        display: block;
        margin-top: 10px;
        margin-bottom: -30px
    }
}

@media screen and ( max-device-height: 700px ){
    #node_portal{
        height: 300px;
    }
    #jumbotron_banner{
        height: 100px;
    }
}